html
    head 
        link(rel="stylesheet", href="style.css")
        title Productos Entrega
    body
        header 
            h1 Form de productos 
        section(class="formContainer")
            include form.pug