body{
    font-family: 'Roboto', sans-serif;
    background-color: #6BAB90;
}

h1{
    color: white;
}

.contentInput{
    padding: 20px;
}

.contentForm{
    background-color: #FED9B7;
    border-radius: 20px;
    width: 20%;
}