html
    head 
        link(rel="stylesheet", href="http://localhost:8080/style.css")
        title Productos Entrega
    body
        header 
            h1 Form de productos 
        section(class="formContainer", id="formtest")
            include form.pug