<section class="chat">
  <h2>Chat</h2>
  <div class="chatData-container">
    <div>
      <label for="name-input">Nombre:</label>
      <input type="text" id="name-input" />
    </div>
    <div>
      <label for="">Mensaje:</label>
      <input type="text" id="message-input" />
    </div>
  </div>
  <div id="chatContainer"></div>
</section>
