<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="http://localhost:8080/style.css" />
  </head>
  <body>
    <h1>Ejercicio de Sockets</h1>
    <%- include("partials/formProducto.ejs"); %>
    <main>
      <%- include("partials/chat.ejs");%> <%-
      include("partials/productos.ejs");%>
    </main>
  </body>
  <script src="http://localhost:8080/chat.js"></script>
</html>
