<section class="chat">
  <h2>Chat</h2>
  <div class="chatData-container">
    <div>
      <label for="email-input">Nombre:</label>
      <input type="text" id="email-input" />
    </div>
    <div>
      <label for="name-input">Nombre:</label>
      <input type="text" id="name-input" />
    </div>
    <div>
      <label for="">Apellido:</label>
      <input type="text" id="apellido-input" />
    </div>
    <div>
      <label for="">Mensaje:</label>
      <input type="text" id="message-input" />
    </div>

    <div>
      <label for="">edad:</label>
      <input type="text" id="edad-input" />
    </div>
    <div>
      <label for="">alias:</label>
      <input type="text" id="alias-input" />
    </div>
    <div>
      <label for="">avatar:</label>
      <input type="text" id="avatar-input" />
    </div>
  </div>
  <div id="chatContainer"></div>
</section>
